<config>
    <modules>
        <Alanstormdotcom_Complexworld>
            <version>0.1.2</version>
        </Alanstormdotcom_Complexworld>
    </modules>
    <frontend>
        <routers>
            <complexworld>
                <use>standard</use>
                <args>
                    <module>Alanstormdotcom_Complexworld</module>
                    <frontName>complexworld</frontName>
                </args>
            </complexworld>
        </routers>
    </frontend>
    <global>
        <models>
            <complexworld>
                <class>Alanstormdotcom_Complexworld_Model</class>
                <resourceModel>complexworld_resource_eav_mysql4</resourceModel>
            </complexworld>
            <complexworld_resource_eav_mysql4>
                <class>Alanstormdotcom_Complexworld_Model_Resource_Eav_Mysql4</class>
                <entities>
                    <eavblogpost>
                        <table>eavblog_posts</table>
                    </eavblogpost>
                </entities>
            </complexworld_resource_eav_mysql4>
        </models>
        <resources>
            <complexworld_setup>
                <setup>
                    <module>Alanstormdotcom_Complexworld</module>
                    <class>Alanstormdotcom_Complexworld_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </complexworld_setup>
            <complexworld_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </complexworld_write>
            <complexworld_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </complexworld_read>
        </resources>
    </global>
</config>