<config>
    <modules>
        <SM_Slider>
            <version>0.1.1</version>
        </SM_Slider>
    </modules>
    <frontend>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>SM_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
        <layout>
            <updates>
                <slider>
                    <file>sm/slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <inchoo_dbscript>
                <class>Inchoo_DBScript_Model</class>
                <resourceModel>inchoo_dbscript_resource</resourceModel>
            </inchoo_dbscript>
            <inchoo_dbscript_resource>
                <class>Inchoo_DBScript_Model_Resource</class>
                <entities>
                    <ticket>
                        <table>inchoo_dbscript_ticket</table>
                    </ticket>
                    <comment>
                        <table>inchoo_dbscript_comment</table>
                    </comment>
                </entities>
            </inchoo_dbscript_resource>
        </models>
        <models>
            <slider>
                <class>SM_Slider_Model</class>
                <resourceModel>slider_resource</resourceModel>
            </slider>
            <slider_resource>
                <class>SM_Slider_Model_Resource</class>
                <entities>
                    <slider>
                        <table>sm_slider</table>
                    </slider>
                    <image>
                        <table>sm_slider_image</table>
                    </image>
                </entities>
            </slider_resource>
        </models>
        <blocks>
            <slider>
                <class>SM_Slider_Block</class>
            </slider>
        </blocks>
        <helpers>
            <slider>
                <class>SM_Slider_Helper</class>
            </slider>
        </helpers>
        <resources>
            <sm_slider_setup>
                <setup>
                    <module>SM_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sm_slider_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sm_slider before="Mage_Adminhtml">SM_Slider_Adminhtml</sm_slider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sm_slider>
                    <file>slider.xml</file>
                </sm_slider>
            </updates>
        </layout>
    </adminhtml>
</config>