<config>
    <modules>
        <SM_Slider>
            <version>0.1.0</version>
        </SM_Slider>
    </modules>
    <frontend>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>SM_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
        <layout>
            <updates>
                <slider>
                    <file>sm/slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <slider>
                <class>SM_Slider_Model</class>
            </slider>
        </models>
        <blocks>
            <slider>
                <class>SM_Slider_Block</class>
            </slider>
        </blocks>
        <helpers>
            <slider>
                <class>SM_Slider_Helper</class>
            </slider>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sm_slider before="Mage_Adminhtml">SM_Slider_Adminhtml</sm_slider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sm_slider>
                    <file>slider.xml</file>
                </sm_slider>
            </updates>
        </layout>
    </adminhtml>
</config>