<?xml version="1.0"?>
<config>
    <modules>
        <SM_Skurouter>
            <version>0.1.0</version>
        </SM_Skurouter>
    </modules>
    <global>
        <models>
            <skurouter>
                <class>SM_Skurouter_Model</class>
                <resourceModel>skurouter_resource</resourceModel>
            </skurouter>
            <skurouter_resource>
                <class>SM_Skurouter_Model_Resource</class>
            </skurouter_resource>
        </models>
        <blocks>
            <skurouter>
                <class>SM_Skurouter_Block</class>
            </skurouter>
        </blocks>
        <helpers>
            <skurouter>
                <class>SM_Skurouter_Helper</class>
            </skurouter>
        </helpers>
        <resources>
            <skurouter_setup>
                <setup>
                    <module>SM_Skurouter</module>
                </setup>
            </skurouter_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <skurouter>
                <use>standard</use>
                <args>
                    <module>SM_Skurouter</module>
                    <frontName>skurouter</frontName>
                </args>
            </skurouter>
        </routers>
    </frontend>
    <default>
        <web>
            <routers>
                <sm_skurouter>
                    <area>frontend</area>
                    <class>SM_Skurouter_Controller_Router</class>
                </sm_skurouter>
            </routers>
        </web>
    </default>
</config>