<config>
    <modules>
        <SM_Bestseller>
            <version>0.1.0</version>
        </SM_Bestseller>
    </modules>
    <frontend>
        <routers>
            <bestseller>
                <use>standard</use>
                <args>
                    <module>SM_Bestseller</module>
                    <frontName>bestseller</frontName>
                </args>
            </bestseller>
        </routers>
        <layout>
            <updates>
                <bestseller>
                    <file>sm/bestseller.xml</file>
                </bestseller>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <bestseller>
                <class>SM_Bestseller_Model</class>
            </bestseller>
        </models>
        <blocks>
            <bestseller>
                <class>SM_Bestseller_Block</class>
            </bestseller>
        </blocks>
        <helpers>
            <bestseller>
                <class>SM_Bestseller_Helper</class>
            </bestseller>
        </helpers>
    </global>
</config>